body {
background-color: lightblue;
width:500px;
height:850px;
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content: center;
align-items: center;
}

#cardsDiv {
    border: 2px solid black;
    width: 650px;
}

h1 {
    text-align: center;
}

#setOfCards {
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

.cards {
    transition: transform .5s;
    transform-style: preserve-3d;
    background-image: url("https://images.pexels.com/photos/13962287/pexels-photo-13962287.png?auto=compress&cs=tinysrgb&w=300&lazy=load");
    width: 80px;
    height:110px
    
}

#timerDiv {
    display: flex;
    gap:40px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#timerBox {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

#guessesBox {
    width: 70px;
    height: 70px;
    background-color: white;
}
button {
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.cards.flip {
    transform: rotateY(180deg);
    
}