body {
background-color: lightblue;
width:500px;
height:850px;
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content: center;
align-items: center;
}

#cardsDiv {
    border: 2px solid black;
    width: 900px;
}

h1 {
    text-align: center;
}

#setOfCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ind-cards {
    transition: transform .5s;
    transform-style: preserve-3d;
    width: 80px;
    height:110px
}

#timerDiv {
    display: flex;
    gap:40px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#timerBox {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

#guessesBox {
    width: 70px;
    height: 70px;
    background-color: white;
}
button {
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.ind-cards.flip {
    transform: rotateY(180deg);
    
}

img {
    width: 80px;
    height: 110px;
    position: relative;
}

.ind-cards {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 110px;
}

.back, .face {
    z-index: -1;
    position: absolute;
    width: 80px;
    height: 110px;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}

